@model WebCalendar.Models.ContactViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.CurrentPage = "Contact";
}

<h2>Contact details</h2>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName):
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email):
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfBirth):
        @Html.DisplayFor(model => model.DateOfBirth)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phone):
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address):
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comment):
        @Html.DisplayFor(model => model.Comment)
    </div>
<p>
    @Html.ActionLink("Edit", "Edit", null, new { id = Model.ContactID }, new { @class = "link" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "link" })
</p>
