@model WebCalendar.Models.MeetingViewModel

@{
    ViewBag.Title = "Details";
}

@{
    var grid = new WebGrid(source: Model.ContactModels,
        defaultSort: "FirstName",
        rowsPerPage: 15,
        canSort: true,
        canPage: true);
}

<h2>Details</h2>

<fieldset>
    <legend>Meeting</legend>

    <div class="display-label">
         @Html.LabelFor(model => model.Time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Time)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.Place)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Place)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Category.Name, "Category")
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Category.Name)
    </div>
    <div id="grid">
        @Html.Label("Assigned contacts")
        @grid.GetHtml(
        tableStyle: "grid",
        headerStyle: "head",
        alternatingRowStyle: "webgrid-alternating-row",
        columns: grid.Columns(
            grid.Column(header: "First Name", format: (item) => new HtmlString(item.FirstName)),
            grid.Column(header: "Last Name", format: (item) => new HtmlString(item.LastName))))
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MeetingID }) |
    @Html.ActionLink("Back to List", "AllMeetings")
</p>
